# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Popular Languages for Data Science
* Commonly used libraries for Data Science
* List of some Data Science Tools
* Example of Arithmetic Expression in Python

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit
4. SciPy

|Data Science Tools|
|------------------|
|Jupytr Notebook|
|Juptyr Lab|
|RStudio|
|Google CoLab|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

* 11*2-3
* 99/9

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
FR Khan